* {
  font-family: "Geometria", sans-serif;
  font-weight: 200;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #484f54;
}
.span-basket-title {
  color: #484f54;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.nav-bar {
  background-color: #484f54;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}
.nav-buttons {
  display: flex;
}
.nav-button {
  width: 100px;
}
.nav-button > a:hover {
  color: white;
}
.logo-img {
  width: 200px;
}
.categorian-items-container {
  display: flex;

  justify-content: space-between;
}
.categorian {
  background-color: #484f54;
  height: 100%;
}
.categoria {
  min-width: 250px;
  list-style: none;
  display: flex;
  align-items: center;
}
.categoria:hover {
  background-color: #a2c617;
  color: white;
}

.categoria-title-img {
  margin-left: 20px;
}
.categoria > p {
  margin-left: 17px;
  margin-top: 12px;
}
.categoria-img-1 {
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3e%3cstyle%3e.st1%7bstroke-width:2%7d.st1,.st2,.st3%7bfill:none;stroke:%23a2c617%7d.st2%7bstroke-width:1.25;stroke-linecap:square%7d.st3%7bstroke-linecap:round%7d.st4%7bfill:%23a2c617%7d%3c/style%3e%3cpath d='M13 30.5h6c.3 0 .5.2.5.5s-.2.5-.5.5h-6c-.3 0-.5-.2-.5-.5s.2-.5.5-.5z' fill='none' stroke='%236db13c'/%3e%3cpath class='st1' d='M25.2 4h7.5c.7 0 1.3.6 1.3 1.3v25.6c0 .7-.6 1.3-1.2 1.3h-7.5c-.7 0-1.2-.6-1.2-1.3V5.3c-.1-.7.5-1.3 1.1-1.3z'/%3e%3cpath class='st1' d='M4.2 9h18.6c.6 0 1.2.5 1.2 1.2v16.6c0 .7-.5 1.2-1.2 1.2H4.2c-.6 0-1.2-.5-1.2-1.2V10.2c.1-.7.6-1.2 1.2-1.2z'/%3e%3cpath class='st2' d='M3.2 22.5H24'/%3e%3cpath class='st3' d='M26.5 9.5h5'/%3e%3cpath class='st3' d='M26.5 11.5h5'/%3e%3ccircle class='st4' cx='29' cy='26' r='1.4'/%3e%3ccircle class='st4' cx='16' cy='25' r='1.1'/%3e%3cpath class='st2' d='M14.5 30.5v-2'/%3e%3cpath class='st2' d='M17.5 30.5v-2'/%3e%3c/svg%3e")
    no-repeat;
}
.categoria:hover .categoria-img-1 {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36'%3e%3cstyle%3e.st1%7bstroke-width:2%7d.st1,.st2,.st3%7bfill:none;stroke:%23fff%7d.st2%7bstroke-width:1.25;stroke-linecap:square%7d.st3%7bstroke-linecap:round%7d.st4%7bfill:%23fff%7d%3c/style%3e%3cpath d='M13 30.5h6c.3 0 .5.2.5.5s-.2.5-.5.5h-6c-.3 0-.5-.2-.5-.5s.2-.5.5-.5z' fill='none' stroke='%23fff'/%3e%3cpath class='st1' d='M25.2 4h7.5c.7 0 1.3.6 1.3 1.3v25.6c0 .7-.6 1.3-1.2 1.3h-7.5c-.7 0-1.2-.6-1.2-1.3V5.3c-.1-.7.5-1.3 1.1-1.3z'/%3e%3cpath class='st1' d='M4.2 9h18.6c.6 0 1.2.5 1.2 1.2v16.6c0 .7-.5 1.2-1.2 1.2H4.2c-.6 0-1.2-.5-1.2-1.2V10.2c.1-.7.6-1.2 1.2-1.2z'/%3e%3cpath class='st2' d='M3.2 22.5H24'/%3e%3cpath class='st3' d='M26.5 9.5h5'/%3e%3cpath class='st3' d='M26.5 11.5h5'/%3e%3ccircle class='st4' cx='29' cy='26' r='1.4'/%3e%3ccircle class='st4' cx='16' cy='25' r='1.1'/%3e%3cpath class='st2' d='M14.5 30.5v-2'/%3e%3cpath class='st2' d='M17.5 30.5v-2'/%3e%3c/svg%3e")
    no-repeat;
}

.categoria-img-2 {
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3E%3Cpath data-name='Фигура 1' d='M24.919 20.613a.687.687 0 0 0-.552-.179.919.919 0 0 0-.745.179l-.76.954a4643.166 4643.166 0 0 0-14.6-14.582L6.578 5.153v-.18l-2.8-1.849a.322.322 0 0 0-.552 0L1.911 3.407v.388L3.776 6.6a.18.18 0 1 1 .194.179l2.8 1.7c7.664 7.455 10.288 10.079 14.6 14.373l-.745.954c-.194 0-.194.358-.194.537a.655.655 0 0 0 .194.567l8.8 8.8a.969.969 0 0 0 .745.357 1.009 1.009 0 0 0 .567-.357l2.982-2.983a1.059 1.059 0 0 0 .372-.566 1.437 1.437 0 0 0-.372-.775Zm4.5 11.213-6.74-6.919.746-.567 6.74 6.739Zm1.669-1.67-6.918-6.739.745-.746 6.934 6.71ZM21.023 11.411l1.583-1.6a6.939 6.939 0 0 1 1.424-7.037 6.916 6.916 0 0 1 6.414-1.6l.608.226-4.431 4.412L30.252 9.4l4.414-4.414.192.64a6.351 6.351 0 0 1-1.6 6.174 6.423 6.423 0 0 1-7.02 1.4l-1.616 1.824-9.629 9.4-1.615 1.823a6.532 6.532 0 0 1-7.821 8.605l-.608-.192 4.415-4.414-3.6-3.615-4.415 4.421-.208-.8a6.409 6.409 0 0 1 1.6-6.206 6.5 6.5 0 0 1 7.037-1.408l1.6-1.6 9.645-9.629Z' style='fill:%23a2c617;fill-rule:evenodd'/%3E%3C/svg%3E")
    no-repeat;
}
.categoria:hover .categoria-img-2 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='36' height='36'%3E%3Cpath data-name='Фигура 1' d='M24.919 20.613a.687.687 0 0 0-.552-.179.919.919 0 0 0-.745.179l-.76.954a4643.166 4643.166 0 0 0-14.6-14.582L6.578 4.153v-.18l-2.8-1.849a.322.322 0 0 0-.552 0L1.911 3.407v.388L3.776 6.6a.18.18 0 0 1 .194.179l2.8 1.7c7.664 7.455 10.288 10.079 14.6 14.373l-.745.954c-.194 0-.194.358-.194.537a.655.655 0 0 0 .194.567l8.8 8.8a.969.969 0 0 0 .745.357 1.009 1.009 0 0 0 .567-.357l2.982-2.983a1.059 1.059 0 0 0 .372-.566 1.437 1.437 0 0 0-.372-.775Zm4.5 11.213-6.74-6.919.746-.567 6.74 6.739Zm1.669-1.67-6.918-6.739.745-.746 6.934 6.71ZM21.023 11.411l1.583-1.6a6.939 6.939 0 0 1 1.424-7.037 6.916 6.916 0 0 1 6.414-1.6l.608.226-4.431 4.412L30.252 9.4l4.414-4.414.192.64a6.351 6.351 0 0 1-1.6 6.174 6.423 6.423 0 0 1-7.02 1.4l-1.616 1.824-9.629 9.4-1.615 1.823a6.532 6.532 0 0 1-7.821 8.605l-.608-.192 4.415-4.414-3.6-3.615-4.415 4.421-.208-.8a6.409 6.409 0 0 1 1.6-6.206 6.5 6.5 0 0 1 7.037-1.408l1.6-1.6 9.645-9.629Z' style='fill:%23fff;fill-rule:evenodd'/%3E%3C/svg%3E")
    no-repeat;
}
.categoria-img-3 {
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill:%23a2c617; fill-rule:evenodd; %7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M22.4 11.02H11.7a.72.72 0 0 0-.73.72v10.6a.72.72 0 0 0 .72.7h10.7a.72.72 0 0 0 .7-.7v-10.6a.72.72 0 0 0-.7-.72zm-.73 10.6H12.4v-9.16h9.27v9.16zm11.37-6.02a.96.96 0 1 0 0-1.9h-3v-2.8h3a.96.96 0 0 0 0-1.92h-3V8.1A4.08 4.08 0 0 0 26 4.03h-.48V.96a.96.96 0 1 0-1.92 0v3.07h-2.8V.96a.96.96 0 1 0-1.9 0v3.07h-2.8V.96a.96.96 0 1 0-1.9 0v3.07h-2.8V.96a.96.96 0 1 0-1.92 0v3.07H8.1A4.08 4.08 0 0 0 4.03 8.1v.88H.96a.96.96 0 0 0 0 1.9h3.07v2.8H.96a.96.96 0 1 0 0 1.92h3.07v2.8H.96a.96.96 0 0 0 0 1.92h3.07v2.8H.96a.96.96 0 0 0 0 1.9h3.07v.96a4.08 4.08 0 0 0 4.07 4.07h1.36v3a.96.96 0 0 0 1.9 0v-3h2.8v3a.96.96 0 0 0 1.92 0v-3h2.8v3a.96.96 0 0 0 1.9 0v-3h2.8v3a.96.96 0 0 0 1.92 0v-3h.48a4.08 4.08 0 0 0 4.07-4.07v-.96h3a.96.96 0 0 0 0-1.9h-3v-2.8h3a.96.96 0 0 0 0-1.92h-3v-2.8h3zm-4.9 10.38a2.16 2.16 0 0 1-2.16 2.15H8.1a2.16 2.16 0 0 1-2.16-2.15V8.1A2.16 2.16 0 0 1 8.1 5.95h17.88a2.16 2.16 0 0 1 2.15 2.15v17.88z'/%3E%3C/svg%3E")
    no-repeat;
}
.categoria:hover .categoria-img-3 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 34 34'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill:%23fff; fill-rule:evenodd; %7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M22.4 11.02H11.7a.72.72 0 0 0-.73.72v10.6a.72.72 0 0 0 .72.7h10.7a.72.72 0 0 0 .7-.7v-10.6a.72.72 0 0 0-.7-.72zm-.73 10.6H12.4v-9.16h9.27v9.16zm11.37-6.02a.96.96 0 1 0 0-1.9h-3v-2.8h3a.96.96 0 0 0 0-1.92h-3V8.1A4.08 4.08 0 0 0 26 4.03h-.48V.96a.96.96 0 1 0-1.92 0v3.07h-2.8V.96a.96.96 0 1 0-1.9 0v3.07h-2.8V.96a.96.96 0 1 0-1.9 0v3.07h-2.8V.96a.96.96 0 1 0-1.92 0v3.07H8.1A4.08 4.08 0 0 0 4.03 8.1v.88H.96a.96.96 0 0 0 0 1.9h3.07v2.8H.96a.96.96 0 1 0 0 1.92h3.07v2.8H.96a.96.96 0 0 0 0 1.92h3.07v2.8H.96a.96.96 0 0 0 0 1.9h3.07v.96a4.08 4.08 0 0 0 4.07 4.07h1.36v3a.96.96 0 0 0 1.9 0v-3h2.8v3a.96.96 0 0 0 1.92 0v-3h2.8v3a.96.96 0 0 0 1.9 0v-3h2.8v3a.96.96 0 0 0 1.92 0v-3h.48a4.08 4.08 0 0 0 4.07-4.07v-.96h3a.96.96 0 0 0 0-1.9h-3v-2.8h3a.96.96 0 0 0 0-1.92h-3v-2.8h3zm-4.9 10.38a2.16 2.16 0 0 1-2.16 2.15H8.1a2.16 2.16 0 0 1-2.16-2.15V8.1A2.16 2.16 0 0 1 8.1 5.95h17.88a2.16 2.16 0 0 1 2.15 2.15v17.88z'/%3E%3C/svg%3E")
    no-repeat;
}
.categoria-img-4 {
  display: block;
  width: 35px;
  height: 35px;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='31' viewBox='0 0 35 31'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill:%23a2c617; fill-rule:evenodd; %7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M5.85 16.63h1.9v1.88a.9.9 0 0 0 1.8 0v-1.87h1.9a.9.9 0 1 0 0-1.78h-1.9v-1.88a.9.9 0 0 0-1.8 0v1.88h-1.9a.9.9 0 1 0 0 1.78zm20.47-2.73a.9.9 0 1 0-.92-.9.92.92 0 0 0 .92.9zm0 5.5a.9.9 0 1 0-.92-.9.92.92 0 0 0 .92.9zm2.77-2.76a.9.9 0 1 0-.93-.9.92.92 0 0 0 .92.9zm-5.57 0a.9.9 0 1 0-.92-.9.92.92 0 0 0 .93.9zm11.43 9.34l-.04-10.84a.9.9 0 0 0-.04-.28 8.62 8.62 0 0 0-13.9-5.93h-2.6V7.87 7.8c-.02-.1-.18-2.73 1.6-2.96a3.77 3.77 0 0 0 3.6-4.07.77.77 0 0 0-.76-.77.77.77 0 0 0-.77.77 2.26 2.26 0 0 1-2.27 2.56c-2.57.32-3.05 3.1-2.95 4.56v1.03H14A8.63 8.63 0 0 0 .14 14.86a.9.9 0 0 0-.05.28L.04 25.98a4.32 4.32 0 0 0-.04.55 4.5 4.5 0 0 0 7.72 3.1.86.86 0 0 0 .13-.1l6.25-7.02h6.8l6.25 7.03a.92.92 0 0 0 .13.1 4.5 4.5 0 0 0 7.72-3.1 4.23 4.23 0 0 0-.04-.55zM1.9 15.22a6.82 6.82 0 0 1 11.44-4.5h8.32l.08-.07a.9.9 0 0 0 .4-.35 6.82 6.82 0 0 1 10.96 4.9l.02.46a6.83 6.83 0 0 1-11.34 5.06h-8.56a6.83 6.83 0 0 1-11.34-5.06c0-.15 0-.3.02-.44zm4.7 13.02a1 1 0 0 0-.1.1 2.7 2.7 0 0 1-4.7-1.8 2.7 2.7 0 0 1 .03-.38.9.9 0 0 0 0-.12l.03-5.2a8.63 8.63 0 0 0 8.44 3.23zm23.9.97a2.68 2.68 0 0 1-2-.87 1 1 0 0 0-.1-.1l-3.7-4.16a8.63 8.63 0 0 0 8.44-3.22l.02 5.2a.97.97 0 0 0 0 .1 2.63 2.63 0 0 1 .04.38 2.7 2.7 0 0 1-2.7 2.68z'/%3E%3C/svg%3E")
    no-repeat;
}
.categoria:hover .categoria-img-4 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='35' height='31' viewBox='0 0 35 31'%3E%3Cdefs%3E%3Cstyle%3E.cls-1 %7B fill:%23fff; fill-rule:evenodd; %7D%3C/style%3E%3C/defs%3E%3Cpath class='cls-1' d='M5.85 16.63h1.9v1.88a.9.9 0 0 0 1.8 0v-1.87h1.9a.9.9 0 1 0 0-1.78h-1.9v-1.88a.9.9 0 0 0-1.8 0v1.88h-1.9a.9.9 0 1 0 0 1.78zm20.47-2.73a.9.9 0 1 0-.92-.9.92.92 0 0 0 .92.9zm0 5.5a.9.9 0 1 0-.92-.9.92.92 0 0 0 .92.9zm2.77-2.76a.9.9 0 1 0-.93-.9.92.92 0 0 0 .92.9zm-5.57 0a.9.9 0 1 0-.92-.9.92.92 0 0 0 .93.9zm11.43 9.34l-.04-10.84a.9.9 0 0 0-.04-.28 8.62 8.62 0 0 0-13.9-5.93h-2.6V7.87 7.8c-.02-.1-.18-2.73 1.6-2.96a3.77 3.77 0 0 0 3.6-4.07.77.77 0 0 0-.76-.77.77.77 0 0 0-.77.77 2.26 2.26 0 0 1-2.27 2.56c-2.57.32-3.05 3.1-2.95 4.56v1.03H14A8.63 8.63 0 0 0 .14 14.86a.9.9 0 0 0-.05.28L.04 25.98a4.32 4.32 0 0 0-.04.55 4.5 4.5 0 0 0 7.72 3.1.86.86 0 0 0 .13-.1l6.25-7.02h6.8l6.25 7.03a.92.92 0 0 0 .13.1 4.5 4.5 0 0 0 7.72-3.1 4.23 4.23 0 0 0-.04-.55zM1.9 15.22a6.82 6.82 0 0 1 11.44-4.5h8.32l.08-.07a.9.9 0 0 0 .4-.35 6.82 6.82 0 0 1 10.96 4.9l.02.46a6.83 6.83 0 0 1-11.34 5.06h-8.56a6.83 6.83 0 0 1-11.34-5.06c0-.15 0-.3.02-.44zm4.7 13.02a1 1 0 0 0-.1.1 2.7 2.7 0 0 1-4.7-1.8 2.7 2.7 0 0 1 .03-.38.9.9 0 0 0 0-.12l.03-5.2a8.63 8.63 0 0 0 8.44 3.23zm23.9.97a2.68 2.68 0 0 1-2-.87 1 1 0 0 0-.1-.1l-3.7-4.16a8.63 8.63 0 0 0 8.44-3.22l.02 5.2a.97.97 0 0 0 0 .1 2.63 2.63 0 0 1 .04.38 2.7 2.7 0 0 1-2.7 2.68z'/%3E%3C/svg%3E")
    no-repeat;
}
.items-container-flex {
  display: flex;
  flex-wrap: wrap;
}
.item-in-container-flex {
  color: #484f54;
  font-weight: 700;
  padding-top: 10px;
}
.item-in-container-flex:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.item-image {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.price {
  font-size: 25px;
  font-weight: 500;
  margin-right: 20px;
}
.space-between {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.pagination-center {
  display: flex;
  justify-content: center;
}
.page-item {
  margin-right: 4px;
}
.form-floating {
  margin: 0 auto;
  width: 500px;
}
.login-h1-center {
  margin: 20px 0 20px 0;
  text-align: center;
}
.form-submite {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 15px auto;
}
.user-data-container {
  text-align: center;
}
.user-data-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.history-img {
  max-width: 250px;
  max-height: 250px;
}
.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
.basket-img {
  width: 30px;
  height: 50px;
  margin-right: 10px;
  position: relative;
  border: none;
  outline: none;
}
.items-container-basket {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.multiple-count-value {
  margin: 0 20px;
}
.finish-order-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 24%;
}
.icon-button-badge {
  font-size: 13px;
  position: absolute;
  top: 3px;
  right: 87%;
  width: 20px;
  height: 20px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.align-center {
  text-align: center;
}
.margin-top-bottom-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.margin-right-20 {
  margin-right: 20px;
}
.justify-content-center {
  justify-content: center;
}
.button {
  width: 30%;
  margin: auto;
}
.color-standart {
  color: #2f3640;
}
/* seachInput */

.searchBox {
  background: #373c40;
  height: 40px;
}

.searchInput {
  margin-left: 10px;
  border: none;
  background: none;
  outline: none;
  padding-left: 7.5%;
  margin: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 100%;
}
/* add item */

.item-data-img {
  width: 200px;
  height: 200px;
}
/* history item */
.history-dropdown-item {
  white-space: inherit;
}
